<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a href="{% url 'index' %}" class="navbar-brand">
        <img src="https://i.ibb.co/48W1wZB/96226f7c5e2646108f132674802dd670-2.png" width="60" height="60"
             alt="logo" style="margin-right: 10px"><b> Konotop Lawyer </b>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="{% url 'index' %}" class="nav-link">Головна</a>
            </li>
            <li class="nav-item ">
                <a href="#" class="nav-link">Контакти</a>
            </li>
        </ul>
        <form action="" class="form-inline my-2 my-lg-0">
            <input type="text" class="form-control mr-sm-2" placeholder="Введіть запит" aria-label="Пошук"
                   style="max-width: 250px">
            <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Пошук</button>
        </form>
        <!-- maybe add style="padding: 6px 15px 6px 15px" -->
        <a href="#" class="btn btn-outline-light mr-2">Реєстрація</a>
        <a href="#" class="btn btn-outline-light">Увійти</a>
    </div>
</nav>